// 2. Typography
// ----------------------------------------
body {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  color: $text-color;
  font-size: $base-font-size;
  line-height: 1.7em;
}
h1 {
  font-size: 26px;
  line-height: 1em;
  margin: 0 0 4px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) {
    font-size: 34px;
  }
}
h2 {
  font-size: 16px;
  line-height: 1em;
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) {
    font-size: 20px;
  }
}
h3 {
  font-size: 18px;
  line-height: 1em;
  margin: 0 0 10px;
  font-weight: 400;
}
h4 {
  font-size: 12px;
  line-height: 1.7em;
  margin: 0 0 10px;
  font-weight: 400;
  color: $gray-dark;
}
hr {
  border: none;
  border-top: 1px solid $gray-light;
  margin: 30px 0;
}
