html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #202020;
  min-width: 1040px;
  overflow: hidden;
  margin: 0;
}

.container {
  height: 100%;
}

// Page layout
section {
  aside { @include span-columns(4); }
  article { @include span-columns(8); }
}

@include media($medium) {
  section {
    aside { @include span-columns(12); }
    article { @include span-columns(12); }
  }
}

// Calendar layout
.calendar {
  position: relative;
  top: 50px;
  right: 20px;
}

.calendar-chart-labels {
  position: absolute;
}

.chart-rings-container {
  position: absolute;
  top: 0;
  left: 0;
}
