.chart-stamp {
  background: #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  // Positioning
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  // Text
  padding: 52px 38px;
  font-family: $raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.25em;
  letter-spacing: 1px;
  text-transform: none;
  color: #fff;

  strong {
    font-weight: 700;
  }
}
