.calendar-chart-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.chart-labels-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.segment-label {
  color: #fff;
  font-size: em(10px);
}

.month-label {
  font-size: em(12px);
  text-align: right;
}
