////////////////////////////////////////////////
// Lightbox
////////////////////////////////////////////////
.lightbox {
  background: #000;
  opacity: 0.75;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  &.lightbox-hidden {
    opacity: 0;
  }
}
.lightbox-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  padding: 30px;
}

////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////
// Fade
.animate-fade.ng-enter {
  transition: 1000ms ease all;
  opacity: 0;
}
.animate-fade.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;

  /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.animate-fade.ng-enter.ng-enter-active {
  opacity: 1;
}

// Slide up
[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
[ui-view].ng-enter.slide-up {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  -moz-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
[ui-view].ng-enter-active.slide-up {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave.slide-up {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active.slide-up {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  -moz-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}

[ui-view].ng-enter.animate-delay{
  opacity: 0;
}
[ui-view].ng-enter-active.animate-delay {
  opacity: 1;
}
[ui-view].ng-leave.animate-delay {
  opacity: 1;
}
[ui-view].ng-leave-active.animate-delay {
  opacity: 0;
}

////////////////////////////////////////////////
// Card Grid
////////////////////////////////////////////////
.card-grid-item {
  display: inline-block;
  width: 20%;
  margin-right: 0;
  margin-bottom: 0.5%;
}

////////////////////////////////////////////////
// Card
////////////////////////////////////////////////
.card {
  background: #fff;
  color: #000;
  z-index: 15;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $raleway;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
    color: #fff;
    strong {
      font-weight: 700;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
  h4 {
    font-family: $raleway;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
    color: #fff;
    margin-bottom: 10px;
    strong {
      font-weight: 700;
    }
  }
}
.card-inner {
  padding: 20px;
}
.card-header {
  margin-bottom: 20px;
}
.card-body {
  h3 {
    font-family: $raleway;
    font-style: normal;
    font-weight: 300;
  }
}

// Card Grid Item
.card.card-grid-item {
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }
  .card-header {
    margin-bottom: 20px;
  }
}

// Centered Card
.card.card-center {
  width: 400px;
  height: 425px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 2em;
  }
  .card-header {
    margin-bottom: 20px;
  }
  .card-body {
    h3 {
      font-size: 1.25em;
    }
  }
  -webkit-box-shadow: 0 0 200px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 200px 6px rgba(0,0,0,0.5);
  box-shadow: 0 0 200px 6px rgba(0,0,0,0.5);
}

// Hover States
a.card {
  transition: 250ms ease background;
  .card-inner {
    padding: 10px;
    margin: 10px;
  }
  &:hover {
    cursor: pointer;
    background: #fff !important;
  }
}
