.federal-holidays {
  clear: both;
  position: absolute;
  bottom: 0;
  padding: 40px 40px;

  h4 {
    border-top: 10px solid #fff;
    padding: 25px 0 0 0;
    float: left;
    display: block;
    font-size: em(18px);
    font-weight: 400;
    color: #fff;
    line-height: 1.5em;
  }

  .events {
    clear: both;
    padding-top: 20px;

    li {
      line-height: 2em;
      color: #ccc;
      span {
        color: #666;
      }
    }

  }
}
